Node-RED Flow.json
[{"id":"ae934e61.a6056","type":"tab","label":"Smart Agriculture System","disabled":false,"info":""},{"id":"38eb3aeb.29b226","type":"ibmiot in","z":"ae934e61.a6056","authentication":"apiKey","apiKey":"c74e0a9f.f3e4b8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"NodeMCU","applicationId":"","deviceType":"Smart_IoT_System","eventType":"+","commandType":"","format":"json","name":"IBM IoT Input","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":560,"wires":[["386a3e9c.6695b2","fa047f95.0a0e8","e7c0984b.75aff8"]]},{"id":"59dd7ca.c63cc84","type":"debug","z":"ae934e61.a6056","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":400,"wires":[]},{"id":"386a3e9c.6695b2","type":"function","z":"ae934e61.a6056","name":"Temp","func":"msg.payload = msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":480,"wires":[["59dd7ca.c63cc84","ca621eff.c6275"]]},{"id":"fa047f95.0a0e8","type":"function","z":"ae934e61.a6056","name":"Humidity","func":"msg.payload = msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":560,"wires":[["59dd7ca.c63cc84","a1ad31bc.251e7"]]},{"id":"e7c0984b.75aff8","type":"function","z":"ae934e61.a6056","name":"Soil Moisture","func":"msg.payload = msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":640,"wires":[["59dd7ca.c63cc84","b8ce0b5e.e5bd18"]]},{"id":"ca621eff.c6275","type":"ui_gauge","z":"ae934e61.a6056","name":"","group":"44d062e9.24887c","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp gauge","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":460,"wires":[]},{"id":"a1ad31bc.251e7","type":"ui_gauge","z":"ae934e61.a6056","name":"","group":"44d062e9.24887c","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":560,"wires":[]},{"id":"d660a3a1.11803","type":"ibmiot out","z":"ae934e61.a6056","authentication":"apiKey","apiKey":"44a21d03.d8d9a4","outputType":"cmd","deviceId":"Motor_Control","deviceType":"Smart_IoT_System","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":680,"y":40,"wires":[]},{"id":"9deddcc2.4258b","type":"ui_button","z":"ae934e61.a6056","name":"","group":"1276c8a2.f02837","order":1,"width":0,"height":0,"passthru":false,"label":"Motor On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"MotorOn\"}","payloadType":"json","topic":"","x":230,"y":60,"wires":[["d660a3a1.11803","d612a14e.9e256","c236cc3c.aef11"]]},{"id":"a6da6820.eebfd8","type":"ui_button","z":"ae934e61.a6056","name":"","group":"1276c8a2.f02837","order":2,"width":0,"height":0,"passthru":false,"label":"Motor Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"MotorOff\"}","payloadType":"json","topic":"","x":230,"y":160,"wires":[["d660a3a1.11803","d612a14e.9e256","c798901e.f4683"]]},{"id":"508fe569.6b9d8c","type":"http request","z":"ae934e61.a6056","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Hyderabad, IN&units=metric&appid=51c12523ac5a2aa31ae25caae74f3f9a","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":820,"wires":[["23ec967f.15b0ea","62c799d1.6a7328","665d1354.ae527c","a32b0b1c.945fc8"]]},{"id":"b03ffd9b.44203","type":"inject","z":"ae934e61.a6056","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":760,"wires":[["508fe569.6b9d8c"]]},{"id":"23ec967f.15b0ea","type":"debug","z":"ae934e61.a6056","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":820,"wires":[]},{"id":"62c799d1.6a7328","type":"change","z":"ae934e61.a6056","name":"temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":840,"wires":[["ed378508.862698"]]},{"id":"ed378508.862698","type":"ui_text","z":"ae934e61.a6056","group":"6b241d31.a498d4","order":1,"width":0,"height":0,"name":"","label":"temp","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":900,"wires":[]},{"id":"a32b0b1c.945fc8","type":"change","z":"ae934e61.a6056","name":"city","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1000,"wires":[["392d64ea.5fcaec"]]},{"id":"665d1354.ae527c","type":"change","z":"ae934e61.a6056","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":920,"wires":[["e616234.2d265e"]]},{"id":"e616234.2d265e","type":"ui_text","z":"ae934e61.a6056","group":"6b241d31.a498d4","order":2,"width":0,"height":0,"name":"","label":"humidity","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":980,"wires":[]},{"id":"392d64ea.5fcaec","type":"ui_text","z":"ae934e61.a6056","group":"6b241d31.a498d4","order":3,"width":0,"height":0,"name":"","label":"city","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":1100,"wires":[]},{"id":"b8ce0b5e.e5bd18","type":"ui_gauge","z":"ae934e61.a6056","name":"","group":"44d062e9.24887c","order":3,"width":0,"height":0,"gtype":"gage","title":"soil moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":680,"wires":[]},{"id":"e44c99ee.b9a418","type":"ui_text","z":"ae934e61.a6056","group":"3b6b5952.2802a6","order":0,"width":0,"height":0,"name":"","label":"Motor Status","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":240,"wires":[]},{"id":"d612a14e.9e256","type":"debug","z":"ae934e61.a6056","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"c236cc3c.aef11","type":"change","z":"ae934e61.a6056","name":"motor on","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":240,"wires":[["e44c99ee.b9a418"]]},{"id":"c798901e.f4683","type":"change","z":"ae934e61.a6056","name":"motor off","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":300,"wires":[["e44c99ee.b9a418"]]},{"id":"c74e0a9f.f3e4b8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"44d062e9.24887c","type":"ui_group","z":"","name":"Agriculture Data","tab":"33f141ed.48944e","order":2,"disp":true,"width":"6","collapse":false},{"id":"44a21d03.d8d9a4","type":"ibmiot","z":"","name":"ibmiot output","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"1276c8a2.f02837","type":"ui_group","z":"","name":"Motor Control","tab":"33f141ed.48944e","order":3,"disp":true,"width":"6","collapse":false},{"id":"6b241d31.a498d4","type":"ui_group","z":"","name":"Weather Forecast","tab":"33f141ed.48944e","order":1,"disp":true,"width":"6","collapse":false},{"id":"3b6b5952.2802a6","type":"ui_group","z":"","name":"Motor Status","tab":"33f141ed.48944e","order":4,"disp":true,"width":"6","collapse":false},{"id":"33f141ed.48944e","type":"ui_tab","z":"","name":"Smart IoT Agriculture System","icon":"dashboard","disabled":false,"hidden":false}]